/* ======================
    TESTIMONIAL WITH IMAGE
========================= */

/* MOBILE */
.testimonial-with-img {
    background: rgba(37, 69, 184, 1);
    width: 380px;
    height: 570px;
    margin: 8em auto 0;
    position: relative;
}

.testimonial-with-img .person-img {
    width: 350px;
    height: 200px;
    object-fit: cover;
    object-position: 50% 30%;
    border-radius: 12px;
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translateX(-50%);
}

.testimonial-with-img .testimonial-details {
    width: 350px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.testimonial-with-img .testimonial-details .text {
    font-size: 1.5em;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 1.5em;
}

.testimonial-with-img .testimonial-details div .person-name {
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 0;
}

.testimonial-with-img .testimonial-details div .person-role {
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    margin-top: .25em;
}

/* DESKTOP */
.testimonial-with-img.desktop {
    width: 1350px;
    height: 400px;
    display: flex;
}

.testimonial-with-img.desktop .person-img.desktop {
    width: 385px;
    height: 465px;
    top: 50%;
    left: 4%;
    transform: translateY(-50%);
}

.testimonial-with-img.desktop .testimonial-details.desktop {
    width: 800px;
    left: 35%;
    top: 50%;
    transform: translateY(-50%);
    bottom: -10%;
}

/* ===========================
    TESTIMONIAL WITHOUT IMAGE
============================== */

/* MOBILE */
.no-img-testimonial {
    background: rgba(249, 250, 251, 1);
    width: 375px;
    height: 550px;
    margin: 4em auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.no-img-testimonial .testimonial-logo {
    margin-bottom: 1em;
}

.no-img-testimonial .dot-pattern {
    position: absolute;
    bottom: -28%;
    left: -10%;
}

.no-img-testimonial .testimonial-details {
    padding: 1em;
    z-index: 1;
}

.no-img-testimonial .testimonial-details .text {
    font-size: 1.5em;
    font-weight: 500;
    color: rgba(17, 24, 39, 1);
    line-height: 1.5em;
}

.no-img-testimonial .testimonial-details div {
    margin-top: 3em;
}

.no-img-testimonial .testimonial-details div .person-name {
    font-weight: 500;
    color: rgba(17, 24, 39, 1);
    margin-bottom: 0;
}

.no-img-testimonial .testimonial-details div .person-role {
    font-weight: 500;
    color: rgba(107, 114, 128, 1);
    margin-top: 0.25em;
}

/* DESKTOP */
.no-img-testimonial.desktop {
    width: 1350px;
    height: 450px;
}

.no-img-testimonial .dot-pattern.desktop {
    left: 0;
    bottom: -2%;
}

.no-img-testimonial .testimonial-details.desktop {
    text-align: center;
    width: 700px;
}

.no-img-testimonial .testimonial-details div.desktop {
    display: flex;
    justify-content: center;
    gap: .5em;
    margin-top: 2em;
}

.no-img-testimonial .testimonial-details div.desktop .person-name {
    margin: 0;
}

.no-img-testimonial .testimonial-details div.desktop .person-role {
    margin: 0;
}

.no-img-testimonial .testimonial-details div.desktop span {
    font-weight: 900;
    color: rgba(46, 89, 243, 1);
}
