/* NEUTRAL */
.banner-container {
    max-width: 900px;
    padding: 1em;
    border-radius: 6px;
    background: rgba(239, 246, 255, 1);
}

.banner-container div {
    display: flex;
    align-items: center;
    gap: 1em;
}

.banner-container div .banner-title {
    font-weight: 500;
    color: rgba(30, 64, 175, 1);
    margin: 0;
}

.banner-container .banner-msg {
    font-weight: 300;
    color: rgba(28, 81, 185, 1);
    margin: .5em 2em;
}

/* SUCCESS */
.banner-container.success {
    background: rgba(236, 253, 245, 1);
}

.banner-container div .banner-title.success {
    color: rgba(6, 95, 70, 1);
}

.banner-container .banner-msg.success {
    color: rgba(4, 120, 87, 1);
}

/* WARNING */
.banner-container.warning {
    background: rgba(255, 251, 235, 1);
}

.banner-container div .banner-title.warning {
    color: rgba(146, 64, 14, 1);
}

.banner-container .banner-msg.warning {
    color: rgba(180, 83, 9, 1);
}

/* ERROR */
.banner-container.error {
    background: rgba(254, 242, 242, 1);
}

.banner-container div .banner-title.error {
    color: rgba(146, 64, 14, 1);
}

.banner-container .banner-msg.error {
    color: rgba(180, 83, 9, 1);
}
