.banner {
    background-color: rgba(236, 253, 245, 1);
    max-width: 900px;
    padding: 1em;
    border-radius: 6px;
}

.banner div {
    display: flex;
    align-items: center;
    gap: 1em;
}

.banner div .msg {
    font-weight: 500;
    margin: 0;
}

.banner .msg-detail {
    font-weight: 300;
    margin-top: .5em;
    margin-left: 2em;
}

